body {
    background-color: darkseagreen;
}

.main-container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

#coral {
    width: 80px;
    height: 160px;
    text-align: center;
    position: relative;
    background-color: teal;
}

#squid {
    width: 80px;
    height: 80px;
    text-align: center;
    position: absolute;
    background-color: lightsalmon;
}