body {
    background: url('../images/bkg.png');
    background-size: cover;
}

.main-container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

  .scoreboard {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
} 

#timer {
    padding-top: 10px;
}

.logo {
    text-align: center;
    padding-bottom: 10%;
}

/* CORAL TOP */
.coral-container-top {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.coral-top {
    box-sizing: border-box;
    /* background: url('../images/coral-top.png'); */
    justify-content:  flex-end;
    width: 120px;
    height: 160px;
    position: relative;
    top: 140px;
    left: 30%;
    overflow: hidden;                   
    /* border: 1px solid snow; */
}

.coral-top:after {
    background: url('../images/coral-top.png');
    width: 120px;
    height: 160px;
}

/* CORAL MID */
.coral-container-mid {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.coral-mid {
    box-sizing: border-box;
    background: url('../images/coral-mid.png');
    width: 120px;
    height: 160px;
    top: 120px;
    left: 10%;
    position: relative;
    overflow: hidden;                 
    /* border: 1px solid snow; */
}

/* CORAL BOTTOM */
.coral-container-bottom {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.coral-bottom {
    box-sizing: border-box;
    background: url('../images/coral-btm.png');
    width: 120px;
    height: 160px;
    position: relative;
    top: 120px;
    left: 30%;
    overflow: hidden;                
    /* border: 1px solid snow; */
}

.squid {
    position: absolute; 
    background: url('../images/squid1.png');
    width: 118px;
    height: 160px;
    top: 160px;
    transition: .3s;
}