@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* font-family: 'Varela Round', 'helvetica', sans-serif; */

body {
    background: url('../images/bkg.png');
    background-size: cover;
    font-family: 'Varela Round', 'helvetica', sans-serif;
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    color: steelblue;
    position: relative;
    top: 30px;
} 

#start-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    background-color: gold;
    padding: 10px;
    font-size: .8em;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    position: absolute;
    color: steelblue;
}

#reset {
    position: absolute;
    padding: 5px;
    top: 90px;
}

a {
    text-decoration: none;
    color: steelblue;
}

a:hover {
    text-decoration: none;
    color: tomato;
}

#timesup {
    padding-top: 10px;
    position: absolute;
    top: 40px;
}

#button:hover {
    background-color: mediumaquamarine;
    color: gold;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}

#timer {
    padding-top: 10px;
}

#logo {
    background: url('../images/logo.png');
    background-repeat: no-repeat;
    /* position: absolute; */
    width: 180px;
    height: 160px;
}

/* CORAL TOP */
.coral-container-top {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.coral-top {
    box-sizing: border-box;
    justify-content:  flex-end;
    width: 120px;
    height: 160px;
    position: relative;
    top: 130px;
    left: 30%;
    overflow: hidden;                   
}

.coral-top:after {
    background: url('../images/coral-top.png');
    width: 120px;
    height: 160px;
    content: "";
    position: absolute;
    pointer-events: none;
}

/* CORAL MID */
.coral-container-mid {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.coral-mid {
    box-sizing: border-box;
    width: 120px;
    height: 160px;
    top: 105px;
    left: 15%;
    position: relative;
    overflow: hidden;                 
}

.coral-mid:after {
    background: url('../images/coral-mid.png');
    width: 120px;
    height: 160px;
    content: "";
    position: absolute;
    pointer-events: none;
}

/* CORAL BOTTOM */
.coral-container-bottom {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.coral-bottom {
    box-sizing: border-box;
    width: 120px;
    height: 160px;
    position: relative;
    top: 110px;
    left: 30%;
    overflow: hidden;                
}

.coral-bottom:after {
    background: url('../images/coral-btm.png');
    width: 120px;
    height: 160px;
    content: "";
    position: absolute;
    pointer-events: none;
}

.squid {
    position: absolute; 
    background: url('../images/squid1.png');
    width: 118px;
    height: 160px;
    top: 160px;
    transition: .3s;
    cursor: pointer;
}